@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import "styles/docsearch.css";
@import "styles/sveltepress.css";

@font-face {
    font-family: ZedMonoNF;
    src: url("/fonts/ZedMonoNF.woff2") format("woff2");
}

:root {
    --primary-color: #89b4fa;
    --accent-color: #b4befe;
    --tertiary-color: #c6a0f6;
    --text-color: #cdd6f4;
    --color-subtext: #a6adc8;
    --primary-background-color: #1e1e2e;
    --secondary-background-color: #181825;
    --tertiary-background-color: #11111b;
}

body {
    font-family: "Roboto", sans;
    color: var(--text-color) !important;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

pre {
    font-family: 'ZedMonoNF' !important;
    background: var(--tertiary-background-color) !important;
}

code {
    font-family: 'ZedMonoNF' !important;
    color: var(--text-color);
    background-color: var(--tertiary-background-color) !important;
    border-radius: 6px;
}

table tr td:nth-child(1) {
    text-align: right
}

table tr th:nth-child(1) {
    text-align: right
}

code:not(pre code) {
    white-space: nowrap;
}

pre code {
    background-color: var(--primary-background-color) !important;
    font-weight: 900 !important;
}

blockquote {
    background-color: var(--primary-background-color) !important;
    color: var(--accent-color) !important;
    font-weight: 600 !important;
}

strong {
    color: var(--text-color) !important;
    font-weight: 900;
}

a {
    color: var(--accent-color) !important;
}

tr {
    border-color: var(--tertiary-background-color) !important;
}

a:link {
    font-weight: bold;
    color: var(--accent-color) !important;
    text-decoration: none;
}

a:visited {
    color: var(--tertiary-color);
}

a:hover {
    font-weight: bold;
    color: var(--primary-color) !important;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
