@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
    --color-*: initial;
    --color-primary: #b4befe;
    --color-accent: #89b4fa;
    --color-text: #cdd6f4;
    --color-subtext: #a6adc8;
    --color-lavender: #b4befe;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
    --color-blue: #89b4fa;

    --font-sans: Roboto;
    --font-mono: ZedMonoNF;
}

@font-face {
    font-family: ZedMonoNF;
    src: url("/fonts/ZedMonoNF.woff2") format("woff2");
}

:root {
    --primary-color: #89b4fa;
    --accent-color: #b4befe;
    --dark-background-color: #11111b;
    --text-color: #cdd6f4;
}

.prose {
    color: var(--text-color);
}

.prose :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 12px;
    margin-bottom: 8px;
    text-align: justify;
    text-justify: inter-word;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
    margin-top: 20px;
}

.prose p {
    text-align: justify;
    text-justify: inter-word;
}

.prose code {
    background: var(--dark-background-color);
    color: var(--text-color);
    border-radius: 6px;
}

.prose pre {
    background: var(--dark-background-color) !important;
}

.prose strong {
    color: var(--text-color) !important;
    font-weight: 900;
}

.prose hr {
    border-color: var(--dark-background-color);
}

.prose blockquote {
    color: var(--accent-color)
}

.prose li {
    margin: 0px;
}

.prose th {
    color: var(--accent-color);
}

.prose tr {
    border: none
}

.prose ::marker {
    color: var(--accent-color)
}

.prose thead {
    border: none none solid none;
    border-color: var(--dark-background-color)
}

a:link {
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 900;
}

a:hover {
    font-weight: bold;
    color: var(--primary-color);
    font-weight: 900;
}

.prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
